<!-- Home Section -->
<section class="home" id="home">
  <div class="content-wrapper">
    <div id="content">
      <h1>Welcome to Online Banking</h1>
      <h3>Manage Your Finances</h3>
      <p>
        Welcome to your digital bank. Manage your finances with ease and security.
        Check balances, transfer funds, and access your account anytime, anywhere.
      </p>
     <button href="/login">Get Started</button>
    </div>

    <div class="image">
      <img src="./img/home.jpg" alt="Online Banking Illustration" />
    </div>
  </div>
</section>
<footer class="footer">
  <p class="footer-text">
    &copy; 2025 All rights reserved. Banking System.
  </p>
</footer>

